# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#
test/
secret/
logs/
models/

#
config.py
secret/
gunicorn*
venv/
entrypoint.sh

# Docker
Dockerfile
*.conf
*.sh
*.yml

# Html