#url_button {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f169a61;
    z-index: 1000;
  }
  
#loading p {
    text-align: center;
    font-size: 24px;
    color: white;
  }

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    .total {
    display: inline;
    }
}

.box-top{
    display: flex;
    flex-direction: center;
    justify-content : center;
}

.box-wrap-upper{
    width: 1200px;
    display: flex;
    flex-direction: center;
}

.box1 {
    display: flex;                /* Flexbox 레이아웃 사용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    gap: 5px;                    /* 자식 요소 간의 간격 설정 */
    width: 1185px;
    float: left;
    margin: 2px;
    padding: 5px;
    border: 1px solid #f2d498;
}
.box2 {
    position: relative; /* 이 div를 포지셔닝 컨텍스트로 만듦 */
    display: flex;                /* Flexbox 레이아웃 사용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    gap: 5px;           
    float: left;
    margin: 2px;
    padding: 5px;
    height: 410px;
    min-width: 420px;
    table-layout:fixed;
    border: 1px solid #9a4d16;
}

.box-wrap-mid{
    width: 1200px;
    /* margin: 5px; */
    display: flex;
    flex-direction: center;
}
.box6 {
    display: flex;                /* Flexbox 레이아웃 사용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    gap: 5px;                    /* 자식 요소 간의 간격 설정 */
    width: 710px;
    float: left;
    margin: 2px;
    padding: 5px;
    border: 1px solid #9a166c9d;
}
.box7 {
    display: flex; /* Flexbox 레이아웃 적용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    /* align-items: center; 버튼과 div를 수직 방향의 중앙에 정렬 */
    gap: 5px; /* 버튼과 div 사이의 간격 설정 */
    width: 460px;
    float: left;
    margin: 2px;
    padding: 4px;
    table-layout:fixed;
    border: 1px solid #9a16169d;
}

.box-wrap-under{
    width: 1200px;
    /* margin: 5px; */
    display: flex;
    flex-direction: center;
}
.box3 {     
    width: 430px;
    float: left;
    margin: 2px;
    padding: 4px;
    border: 1px solid #f2b498;
}
.box4 {
    position: relative; /* 이 div를 포지셔닝 컨텍스트로 만듦 */
    display: flex;                /* Flexbox 레이아웃 사용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    /* width: 300px; */
    width: 585px;
    float: left;
    gap: 5px;
    margin: 2px;
    padding: 4px;
    table-layout:fixed;
    border: 1px solid #7b9a16;
}
.box5 {
    position: relative; /* 이 div를 포지셔닝 컨텍스트로 만듦 */
    display: flex;                /* Flexbox 레이아웃 사용 */
    flex-wrap: wrap; /* 요소들을 다음 줄로 넘기기 위해 wrap 설정 */
    /* width: 430px; */
    width: 585px;
    float: left;
    gap: 5px;
    margin: 2px;
    padding: 4px;
    table-layout:fixed;
    border: 1px solid #18169a9d;
}
.box-bott{
    /* margin: 10px; */
    display: flex;
    flex-direction: center;
}

.contentDiv {
    height: 22px;
    min-width: 50px;
    border: 1px solid #ccc;
    padding: 1px 2px;
}
.sign-div {
    display: inline-block; /* div를 옆으로 나열 */
    height: 20px;
    width: 70px;
    overflow: visible; /* 기본값, 내용이 넘쳐도 그대로 보여줍니다. */
    text-align: center;
    background-color: lemonchiffon;
    border: 1px solid #ccc;
    padding: 1px 2px;
}

/* box6 */
#titleDiv {
    width: 620px;
    overflow: visible; /* auto; */
}
#categoryDiv, #mediaDiv, #dateDiv, #dbIdDiv {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
#mediaDiv:hover, #dateDiv:hover {
    width: 150px; 
    overflow: hidden; 
    white-space: nowrap;
}
#statusDiv {
    float: right;
    width: 300px;
}
#saveButton {
    float: right;
    width: 200px;
}
#articleDiv {
    height: 400px;
    width: 700px;
    overflow: auto;
}
#mainTagDiv, #subTagDiv, #majorTagDiv, #mediumTagDiv {
    width: 620px;
    overflow: auto;
}

/* box7 */
#similarityDiv {
    height: 100px;
    width: 450px;
    overflow: auto;
}
#modelTitle {
    width: 450px;
    overflow: auto;
}
#modelSummary {
    height: 200px;
    width: 450px;
    overflow: auto;
}
#modelReason {
    height: 300px;
    width: 450px;
    overflow: auto;
}

/* box1 */
.item {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}
.item.checked {
    background-color: #0026ff48; /* 체크되었을 때 배경색 */
}
.checkbox, .set_num, .article_date {
    display: inline-block;
    margin-right: 5px;
}
.title {
    display: inline-block;
    flex-grow: 1;
    margin-right: 5px;
}
.view-article, .url {
    margin-left: 5px;
}
.item:hover {
    background-color: #ff001560; /* 원하는 색상으로 변경 */
    cursor: pointer;
}
#getDataAPIDiv {
    height: 310px;
    width: 1180px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 1px 2px;
}