<div class="total">

    <div class="box-top">
        <h3>- MVP 관리 페이지 -</h3>
    </div>
    
    <div class="box-wrap-upper">

        <div class="box1">
            <button class="getDataAPIButton" id="ArticleBase">기사 Base DB 가져오기</button>
            <button class="getDataAPIButton" id="SummaryBase">요약문 Base DB 가져오기</button>
            <div contenteditable="false" id="getDataAPIDiv"></div>
        </div>
    
        <!-- <div class="box2">
            
        </div> -->
    </div>
    
    <div class="box-wrap-mid">
        <div class="box6">
        
            <div contenteditable="false" class="sign-div">제 목</div>
            <div contenteditable="false" class="contentDiv" id="titleDiv"></div>
            
            <div contenteditable="false" class="sign-div">카테고리</div>
            <div contenteditable="false" class="contentDiv" id="categoryDiv"></div>
            <div contenteditable="false" class="sign-div">언론사</div>
            <div contenteditable="false" class="contentDiv" id="mediaDiv"></div>
            <div contenteditable="false" class="sign-div">송고 시간</div>
            <div contenteditable="false" class="contentDiv" id="dateDiv"></div>
            <div contenteditable="false" class="sign-div">DB 번호</div>
            <div contenteditable="false" class="contentDiv" id="dbIdDiv"></div>
            <button id="delButton" data-divs="dbIdDiv">삭제</button>
            
            <div contenteditable="false" class="contentDiv" id="articleDiv"></div>
        </div>

        <div class="box7">
            <div contenteditable="false" class="contentDiv" id="similarityDiv"></div>
            <div contenteditable="false" class="contentDiv" id="modelTitle"></div>
            <div contenteditable="false" class="contentDiv" id="modelSummary"></div>
            <div contenteditable="false" class="contentDiv" id="modelReason"></div>
        </div>
        
    </div>
    
    <div class="box-wrap-under">
        <!-- <div class="box3">
        </div> -->
    
        <!-- <div class="box5">
     
        </div>
    
        <div class="box4">

        </div> -->
    
    </div>
    
    <div class="box-bott">

    </div>
    
    <div id="loading" style="display:none;">
        <br/><br/>
        <p>Winter Loading...</p>
    </div>
    
    </div>
    
    <!-- CSS JS -->
    <script src="{{ url_for('static', filename='scripts/db_manager.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/db_manager.css') }}">
    