<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byte Demo Page</title>

    <link id="indexCSS" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</head>
<body>
    <div id="total">
        <div id="menu">
            <div class="menu-item" data-menu-item="summary" style="background-color: #ff330092;" width: 50px;>요약</div>
            <div class="menu-item" data-menu-item="multi_sum" style="background-color: #ffcc009a;" width: 50px;>복수 요약</div>
            <div class="menu-item" data-menu-item="mod_db" style="background-color: #51ff0088;" width: 50px;>DB 수정</div>
            <div class="menu-item" data-menu-item="news_save" style="background-color: #0026ff88;" width: 50px;>DB 저장</div>
            <div class="menu-item" data-menu-item="dpo_data" style="background-color: #b700ff60;" width: 50px;>강화 학습</div>
            <div class="menu-item" data-menu-item="db_manager" style="background-color: #ff001560;" width: 50px;>MVP 관리</div>
            <!-- <div class="menu-item" data-menu-item="kg_db" style="background-color: #002aff60;" width: 50px;>KG 생성</div> -->
            <!-- <div class="menu-item" data-menu-item="crawl">수집</div> -->
            <!-- <div class="menu-item" data-menu-item="chat">미니 채팅</div> -->
        </div>
        <div id="content">
            {{ content | safe }}
        </div>
    </div>
    <div id="loading" style="display:none;">
        <p>Winter Loading...</p>
    </div>

</body>
</html>