<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB 저장</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="../static/scripts/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/news_save.js"></script>

    <style>
        .display-none {
            display: none;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-value="summary" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">요약</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-value="multi_sum" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">복수 요약</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-value="mod_db" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">DB 수정</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-value="news_save" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="true">DB 저장</button>
                </li>
            </ul>
        </header>
    </div>

    <div class="b-example-divider"></div>

    <div>
        <h3 class="text-center pt-4 pb-0">DB 저장</h3>
    </div>

    <div class="container my-5">

            <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <small class="text-body-secondary p-1">뉴스 기사의 URL을 입력해주세요.</small>

                <div class="input-group mb-3">
                    <input id="inputUrl" type="text" class="form-control" placeholder="https://example.com/" aria-label="https://example.com/" aria-describedby="basic-addon2">
                    <button class="btn btn-lg btn-primary" type="submit" id="getNews">검색</button>
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input id="title" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">언론사</span>
                    <input id="media" type="text" class="form-control" placeholder="" aria-label="">
                    <span class="input-group-text" >송고 시간</span>
                    <input id="articleDate" type="text" class="form-control" placeholder="0000-00-00 00:00" aria-label="">
                </div>

                <!--<div class="input-group mb-3">
                    <span class="input-group-text">카테고리</span>
                    <select id="category" class="form-select" aria-label="Default select example">
                        <option value="" selected>카테고리를 선택하세요.</option>
                        <option value="경제">경제</option>
                        <option value="사회">사회</option>
                        <option value="트렌드">트렌드</option>
                        <option value="테크">테크</option>
                        <option value="비즈니스">비즈니스</option>
                        <option value="국제">국제</option>
                        <option value="정치">정치</option>
                        <option value="직접 입력">직접 입력</option>
                    </select>
                    <input id="customInput" type="text" class="form-control display-none" placeholder="직접 입력" aria-label="">
                    <button class="btn btn-primary display-none" type="button" id="cancel">직접 입력 취소</button>

                </div>
-->

                <div class="input-group mb-3">
                    <span class="input-group-text">기사</span>
                    <textarea id="article" class="form-control" aria-label="With textarea" style="height: 300px"></textarea>
                </div>

                <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <button type="button" class="w-100 btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#primaryModal">
                                    대분류 선택
                                </button>
                            </div>
                            <div class="card-body">
                                <div id="primaryGroup" class="btn-group-toggle" data-toggle="buttons">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3">
                                <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="modal" data-bs-target="#secondaryModal">
                                    중분류 선택
                                </button>
                            </div>
                            <div class="card-body">
                                <div id="secondaryGroup" class="btn-group-toggle" data-toggle="buttons">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">

                    <span class="input-group-text" >관계 설정</span>
                    <input id="first" type="text" class="form-control" placeholder="first" aria-label="">
                    <button class="btn btn-secondary" type="button" data-value="main" id="changeBtn1">main</button>
                    <select id="relation" class="dropdown-content" style="width: 300px">
                        <option value="" selected>관계를 설정해주세요.</option>
                        <option value="경쟁사">경쟁사</option>
                        <option value="갈등 관계">갈등 관계</option>
                        <option value="전략적 제휴 관계">전략적 제휴 관계</option>
                        <option value="동종 업계">동종 업계</option>
                        <option value="계열사">계열사</option>
                        <option value="잠재 협력사">잠재 협력사</option>
                        <option value="모회사">모회사</option>
                        <option value="자회사">자회사</option>
                        <option value="관계회사">관계회사</option>
                        <option value="투자회사">투자회사</option>
                        <option value="지주회사">지주회사</option>
                        <option value="피투자회사">피투자회사</option>
                        <option value="인수">인수</option>
                        <option value="매각">매각</option>
                        <option value="합병">합병</option>
                        <option value="인적분할">인적분할</option>
                        <option value="물적분할">물적분할</option>
                        <option value="동일 기업">동일 기업</option>
                        <option value="공급사">공급사</option>
                        <option value="피공급사">피공급사</option>
                        <option value="벤치마킹">벤치마킹</option>
                        <option value="기타">기타</option>
                        <option value="관계 없음">관계 없음</option>
                    </select>

                    <input id="second" type="text" class="form-control" placeholder="second" aria-label="">
                    <button class="btn btn-secondary" type="button" data-value="sub" id="changeBtn2">sub</button>
                    <button class="btn btn-primary" type="button" id="add">추가</button>

                </div>

                <div id="companyTagList" class="mb-3">
                    <!--<div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="">
                        <button class="btn btn-primary" type="button" id="remove">삭제</button>
                    </div>-->
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">요약 제목</span>
                    <input id="summaryTitle" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                    <span class="input-group-text">요약 1</span>
                    <textarea maxlength="100" id="summary1" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
                </div>

                <small class="text-body-secondary">글자수 : </small>
                <small class="text-body-secondary" id="summary1Length">0</small>
                <small class="text-body-secondary"> / 100</small>

                <div class="input-group">
                    <span class="input-group-text">요약 2</span>
                    <textarea maxlength="100" id="summary2" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
                </div>

                <small class="text-body-secondary">글자수 : </small>
                <small class="text-body-secondary" id="summary2Length">0</small>
                <small class="text-body-secondary"> / 100</small>

                <div class="input-group">
                    <span class="input-group-text">요약 3</span>
                    <textarea maxlength="100" id="summary3" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
                </div>

                <small class="text-body-secondary">글자수 : </small>
                <small class="text-body-secondary" id="summary3Length">0</small>
                <small class="text-body-secondary"> / 100</small>

                <br>

                <small class="text-body-emphasis">글자수 총합 : </small>
                <small class="text-body-emphasis" id="summaryLength">0</small>
                <small class="text-body-emphasis"> / 250</small>

                <button class="w-100 btn btn-lg btn-primary mb-3" id="copyKakao">카톡용 복사</button>
                <button class="w-100 btn btn-lg btn-primary" id="copyWeb">웹 업로드용 복사</button>

                <hr class="my-4">

                <div class="input-group mb-3">
                    <span class="input-group-text">특수 문자 구성 이유 추가</span>
                    <button class="btn btn-primary" type="button" id="addSpecial">추가</button>
                    <button class="btn btn-secondary" type="button" id="removeSpecial">제거</button>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">날짜 구성 이유 추가</span>
                    <select id="selectDateReason" class="dropdown-content">
                        <option value="" selected>선택해 주세요.</option>
                        <option value="Key Instructions의 9.에 따라 '일'을 '2024년 월 일'로 수정했다.">9.</option>
                        <option value="Key Instructions의 9.1.에 따라 '올해'를 '2024년'으로 수정했다.">9.1</option>
                        <option value="Key Instructions의 9.2.에 따라 '월'을 '2024년 월'로 수정했다.">9.2</option>
                        <option value="Key Instructions의 9.와 9.4.에 따라 '일(현지시간)'을 '2024년 월 일(현지 시각)'로 수정했다.">9.4</option>
                    </select>

                    <button class="btn btn-primary" type="button" id="addDate">추가</button>
                    <button class="btn btn-danger" type="button" id="clearDate">초기화</button>
                    <button class="btn btn-secondary" type="button" id="removeDate">제거</button>
                </div>

                <hr class="my-4">

                <div class="input-group mb-3 display-none" id="specialArea">
                    <span class="input-group-text">특수 문자 구성 이유</span>
                    <textarea id="modifiedReason1" class="form-control" aria-label="With textarea" style="height: 100px">Key Instructions의 5.에 따라  ''를 ''로 수정했다.</textarea>
                </div>

                <div class="input-group mb-3 display-none" id="dateReasonArea">
                    <span class="input-group-text">날짜 구성 이유</span>
                    <textarea id="modifiedReason2" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">요약문 구성 이유</span>
                    <textarea id="modifiedReason3" class="form-control" aria-label="With textarea" style="height: 300px">Article의 핵심 내용은 대한 것이다.&#10;Article에 가 있으므로 []번 요약 구조를 택했다.&#10;이에 따라 Summary의 두 번째 문장에는 를, 마지막 문장에는 를 제시했다.</textarea>
                </div>

            <!--<button class="w-100 btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal" id="save">저장</button>-->
            <button class="w-100 btn btn-lg btn-primary mb-3" id="save">저장</button>
            <hr class="my-4">
            <small class="text-body-secondary">저장 버튼을 누르면 데이터베이스에 저장됩니다.</small>

    </div>

        <!-- 대분류 Modal -->
        <div class="modal fade" id="primaryModal" tabindex="-1" aria-labelledby="primaryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="primaryModalLabel">대분류</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="primaryGroupModal" class="btn-group-toggle" data-toggle="buttons">
                            <input type="radio" class="btn-check" name="btnradio" id="경제" autocomplete="off">
                            <label class="btn btn-outline-primary" for="경제">경제</label>

                            <input type="radio" class="btn-check" name="btnradio" id="비즈니스" autocomplete="off">
                            <label class="btn btn-outline-primary" for="비즈니스">비즈니스</label>

                            <input type="radio" class="btn-check" name="btnradio" id="사회" autocomplete="off">
                            <label class="btn btn-outline-primary" for="사회">사회</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 중분류 Modal -->
        <div class="modal fade" id="secondaryModal" tabindex="-1" aria-labelledby="secondaryModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="secondaryModalLabel">중분류</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2 row-cols-md-1 mb-1 text-center">
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-header py-3">
                                        <h4>경제</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="economy" class="btn-group-toggle" data-toggle="buttons">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                    <div class="card-header py-3">
                                        <h4>산업</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="industry" class="btn-group-toggle" data-toggle="buttons">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                    <div class="card-header py-3">
                                        <h4>국가</h4>
                                    </div>
                                    <div id="nation" class="card-body">
                                        <div class="btn-group-toggle" data-toggle="buttons">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 저장 Modal -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="saveModalLabel">Modal</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>저장되었습니다.</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="saveModalBtn">확인</button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>